git+https://github.com/huggingface/diffusers.git
--extra-index-url https://download.pytorch.org/whl/cu113
torch
scipy
torchaudio>=0.13.0
torchvision>=0.14.0
tqdm
pyyaml
einops
numpy<=1.23.5
soundfile
librosa
pandas
# transformers
torchlibrosa
transformers
ftfy